$color-primary: #79a7d3;
$color-secondary: #6883bc;
$color-third: #8a307f;
$color-dark: #191919;
$color-light: #e8e8e8;

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

.txt-ctr {
  text-align: center;
}

.center {
  margin: 0 auto;
  display: block;
}

.full-width {
  width: 100%;
}

.section-title {
  font-size: 36px;
  padding: 10px 0;
  text-align: center;
}

.txt-shadow {
  text-shadow: 3px 3px $color-dark;
}

// Sections
section {
  min-height: 100vh;
}

.fixed {
  background-image: url(./img/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-attachment: fixed;
}

.scrollable {
  background: $color-light;
}

.overlay-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.img-overlay, .content-overlay-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.content-overlay-wrapper {
  z-index: 200;
  color: $color-light;
  transform: translateY(50%);
}

.content-overlay {
  transform: translateY(-50%);
}

.self-img {
  border-radius: 100px;
  background-image: url(./img/self.png);
  background-position: -10px -6px;
  height: 200px;
  width: 200px;
  background-size: 116%;
}

.section-wrapper {
  margin: 0 auto;
  padding: 2vh;
  max-width: 1440px;
}
// End Sections

/* nav */
nav {
  background: $color-dark;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
}

.nav-links {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    color: $color-light;
    text-decoration: none;
    transition: 0.5s ease;

    &:hover {
      background: $color-light;
      color: $color-third;
    }
  }
}
/* end nav */

.card-main {
  margin: 0 auto;
  display: block;
}

.card {
  width: 275px;
  margin: 40px auto;
}

.card-text {
  background: $color-dark;
  color: $color-light;
}

.image-container {
  background: $color-dark;
}

.card-img {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 175px;
  width: 100%;
  text-align: center;
}

.ga-img {
  background-image: url('./img/ga.jpg');
}

.redlands-img {
  background-image: url('./img/redlands.jpg');
}

.emaily-img {
  background-image: url('./img/emaily.png');
  background-position-y: -140px;
}

.ccps-img {
  background-image: url('./img/ccps.jpg');
}

.burger-img {
  background-image: url(./img/burger.jpg);
  background-position-y: -10px;
}

.bradley-img {
  background-image: url(./img/bradley.jpg);
  background-position-y: -25px;
}

.video-img {
  background-image: url(./img/video.jpg);
}

.music-img {
  background-image: url(./img/video.jpg);
}

.card-description {
  ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.card-btns {

  a {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid $color-third;
    border-radius: 50px;
    text-decoration: none;
    color: $color-light;
    background: $color-third;
  }

}

@media only screen and (min-width: 776px) {

  .cards-container {
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    width: 375px;
    height: 355px;
    position: relative;
    overflow: hidden;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;

    p {
      margin: 0;
    }
  }

  .image-container, .card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .education {

    .card-text {
      top: 210px;
      transition: 0.5s ease;
    }

    h1 {
      font-size: 28px;
    }

    li, p {
      font-size: 16px;
    }
  }

  .project {

    .card-text {
      top: 200px;
      transition: 0.5s ease;
    }

    h1 {
      font-size: 24px;
    }

    li, p {
      font-size: 16px;
    }

    .card-btns {
      a {
        margin: 15px auto;
        width: 200px;
      }
    }
  }

  .publication {

    .card-text {
      top: 250px;
      transition: 0.5s ease;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      line-height: 1.5;
    }

    hr {
      visibility: hidden;
    }
  }

  .card-text li {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 4px 0;
  }

  .card-text li.full-width {
    width: 100%;
  }

  .card-text p {
    padding: 0 25px;
  }

  .card-img {
    min-height: 355px;
  }

  .card-description, .card-btns {
    opacity: 0;
    transition: 0.5s ease;
  }

  .card-description p {
    margin-bottom: 0;
  }

  .card-btns a {
    background: $color-dark;
    border: 3px solid $color-third;
    transition: 0.5s ease;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .card-btns a:hover {
    background: $color-third;
  }

  .card:hover .card-text {
    top: 0;
  }

  .card:hover .card-description, .card:hover .card-btns {
    opacity: 1;
  }

  .card-text {
    height: 350px;
  }
}